<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Code Converter</title>
</head>
<body>
    <div class="container">
        <div class="row">
          
          <div class="col-sm-5">
            <div class="form-group">
                <label for="value-from" class="text-label text-center" id="convert-from">JSON</label>
                <textarea class="form-control"  rows="20" style="resize: none;" id="value-from"></textarea>
              </div>
          </div>
          <div class="col-sm combo-box">
            <select class="form-control" id="formSelector">

                <option>JSON - Byte</option>
                <option>Byte - JSON</option>
              </select>
              <button id="convert-btn" class="btn btn-primary">Convert</button>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
                <label for="value-to" class="text-label" id="convert-to">Byte</label>
                <textarea class="form-control" rows="20" style="resize: none;" id="value-to" ></textarea>
              </div>
          </div>
        </div>
      </div>
</body>
<script>


const formSelector = document.getElementById('formSelector');
const convertTo = document.getElementById('convert-to')
const convertFrom = document.getElementById('convert-from')
const valueFrom = document.getElementById('value-from')
const valueTo = document.getElementById('value-to')
const convertBtn = document.getElementById('convert-btn')

const doCalculate=()=>{
  const splitValue=formSelector.value.split('-');
    convertTo.innerHTML=splitValue[1];
    convertFrom.innerHTML=splitValue[0]
  if(valueFrom.value!==""){    
    fetch('/convert',
    {
    method: 'POST',
    mode: 'cors', 
    cache: 'no-cache',
    credentials: 'same-origin',
    headers: {
      'Content-Type': 'application/json'
    },
    redirect: 'follow',
    referrerPolicy: 'no-referrer',
    body: JSON.stringify({to:(splitValue[1]).trim(),data:valueFrom.value})
  }
    ).then(res=>res.json())
    .then(data=>{
    if(data.text){
      valueTo.innerHTML= data.data
    }else{
      valueTo.innerHTML= JSON.parse(data).data
    }
    }).catch((err)=>{
      console.log(err)
    })
  }else{
    alert(`${splitValue[0]}can't be Empty`)
  }
}

const changeText=()=>{
  const splitValue=formSelector.value.split('-');
  convertTo.innerHTML=splitValue[1];
  convertFrom.innerHTML=splitValue[0]
  valueFrom.value="";
  valueTo.value="";
}

convertBtn.addEventListener('click',doCalculate)
formSelector.addEventListener('change',changeText)

</script>
</html>


